p{
    margin: 0;
}
.product{
    width: 300px;
    height: 510px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
}
.product img{
    margin: 7px auto;
    border-radius: 8px;
    width: 286px;
    height: 286px;
    display: block;
}
.product-info{
    margin: 14px;
    display: flex;
    flex-flow: column;
}
.product-details{
    position: absolute;
    bottom: 55px;
}
.product-name{
    font-family: 'Lato';
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    color: #0E161A;
}
.product-price{
    color: #0E161A;
    font-weight: 500;
}
.btn-cart{
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #FFE0B3;
    border: 1px solid #95A0A7;
    border-radius: 0px 0px 8px 8px;
}
.btn-cart:hover{
    background-color: orange;
}